# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/
bin/
lib/
include/

# Database SQLite lokal (sangat penting untuk tidak di-upload agar tidak menimpa database Supabase)
instance/
*.db
*.sqlite

# OS files
.DS_Store
Thumbs.db

# IDE / VS Code
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Environment variables
.env

# Vercel deployment folder
.vercel/
